/*---------------------------General-----------------------------*/
html{
    scroll-behavior: smooth;
    scroll-padding: 100px;
}
/*----------------------------Navbar-----------------------------*/
.navbar {
    background-color: #c5c5c5;
}

.logo {
    max-height: 90px;
    /*Alto*/
    max-width: 400px;
    /*Ancho*/

}

/*----------------------carrusel-------------------------------*/
.carousel {
    max-height: 800px;
    background-color: rgb(103, 161, 236);
}

.images-carousel {
    max-width: 100%;
    max-height: 800px;
    justify-content: center;

}

.carousel-caption {
    color: rgb(230, 230, 230);

}

/*--------------------------------Grids---------------------------------*/
.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 100px;
    width: 80%;
    margin: 5% auto;

}

.grid-container-objetive,
.grid-container-services,
.grid-container-form {
    gap: 100px;
    width: 80%;
    margin: 5% auto;
}

.grid-image {
    width: 80%;
}
.grid-item{
    align-self: center; /*Acomoda verticalmente los elementos
    */
}
/*------------------------------Form--------------------------------------*/
.grid-item-form {
    align-self: center;
    /*Alinea verticalmente el componente*/
}