
.navbar {
    background-color: #84a7d6;
}

.logo {
    max-height: 100px;
    /*Alto*/
    max-width: 400px;
    /*Ancho*/

}

.carousel {
    max-height: 800px;
}

.images-carousel {
    max-width: 100%;
    max-height: 800px;
    justify-content: center;

}

.carousel-caption {
    color: rgb(122, 122, 122);

}

.grid-container {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(3, 1fr);
    gap: 100px;
    width: 80%;
    margin: 5% auto;

}

.grid-item {
    text-align: center;
}

.grid-image {
    width: auto;

}

.grid-container-objetive,
.grid-container-services,
.grid-container-form {
    gap: 100px;
    width: 80%;
    margin: 5% auto;
}

.form-label {
    justify-items: flex-end;
}

.grid-objetive, .grid-services, .grid-form{
    /*Que sea la mitad del largo de la imagen de al lado*/
    text-align: center;
}